<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://us-cdbr-iron-east-02.cleardb.net/heroku_6e0d80b717cb84d?reconnect=true</property>
		<property name="hibernate.connection.username">bef7646c42add5</property>
		<property name="connection.password">34a0b3b8</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.flux.domain.User" />
		<mapping class="com.flux.domain.Document" />
		<mapping class="com.flux.domain.UserGroup" />
	</session-factory>
</hibernate-configuration>
